@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply m-0 p-0 bg-slate-300 overflow-hidden;
  }
  .active {
    @apply text-[#ffff00] border-b-[1px] border-[#ffff00];
  }
  input::placeholder {
    @apply text-[#666666] font-bold text-[25px];
  }
  input:focus {
    @apply outline-none;
  }
}

@layer utilities {
  @variants responsive {
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: red;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: red;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: red;
    }
  }
}
